* {
    font-family: 'Franklin Gothic Medium', sans-serif;
    text-transform: uppercase;
}

body {
    background: linear-gradient(90deg, rgb(15, 88, 122) 21%, rgb(45, 67, 212) 42%, rgba(13, 28, 96, 1) 100%);
}

.container {
    border: 3px solid blue;
    display: flex;
    margin: auto;
    width: 95%;
}

section {
    /* border: red 3px solid; */
    display: flex;
    background-color: rgba(56, 18, 18, 0);
    width: 70%;
}

.coluna .celula {
    font-size: 30px;
    border: rgba(0, 0, 0, 0) 2px solid;
    width: 35px;
    height: 35px;
    background-color: rgba(0, 0, 0, 0);
    text-align: center;

}

.coluna .celula1 {
    font-size: 30px;
    border: rgb(0, 0, 0) 2px solid;
    width: 35px;
    height: 35px;
    border-radius: 25%;
    background-color: rgb(255, 255, 255);
    text-align: center;
    color: transparent;
}

.index {
    font-size: 15px;
    border: rgb(0, 0, 0) 2px solid;
    width: 35px;
    height: 35px;
    border-radius: 25%;
    background-color: rgb(255, 255, 255);
    text-align: center;
}

.box {
    /* border: 3px red solid; */
    background-color: white;
    border-radius: 20px;
    width: 30%;
}

.container_box {
    margin: 3%;
}
